In [1]:
from helper_functions import *

In [2]:
pwd

'/Users/jeremymobley/Desktop/cbb_modeling/Python'

In [3]:
cd /Users/jeremymobley/Desktop/cbb_modeling/data/2018/

/Users/jeremymobley/Desktop/cbb_modeling/data/2018

In [4]:
from IPython.display import display, HTML
import pandas as pd
import numpy as np

#### Load Data

In [5]:
teams = read_in_file_to_df("Teams")
tourney_compact_results = read_in_file_to_df("NCAATourneyCompactResults")
tourney_detailed_results = read_in_file_to_df("NCAATourneyDetailedResults")
reg_season_detailed_results = read_in_file_to_df("RegularSeasonDetailedResults")
reg_season_compact_results = read_in_file_to_df("RegularSeasonCompactResults")
sample_sub = read_in_file_to_df("SampleSubmissionStage1")
seasons = read_in_file_to_df("Seasons")

Teams (364, 4)
NCAATourneyCompactResults (2117, 8)
NCAATourneyDetailedResults (981, 34)
RegularSeasonDetailedResults (76636, 34)
RegularSeasonCompactResults (150684, 8)
SampleSubmissionStage1 (9112, 2)
Seasons (34, 6)

In [6]:
all_detailed_results = pd.concat([reg_season_detailed_results, tourney_detailed_results])
print(all_detailed_results.shape)

(77617, 34)

### Calculate Advanced Metrics

#### Add in possession features

In [7]:
all_detailed_results = create_poss_fields(all_detailed_results)
all_detailed_results = create_ppp_fields(all_detailed_results)

#### Add advanced metrics
Takes a few seconds...

In [64]:
all_detailed_results = add_advanced_metrics(all_detailed_results)

#### Add in team names

In [8]:
print(all_detailed_results.shape)
all_detailed_results = add_in_team_names(all_detailed_results, teams)
print(all_detailed_results.shape)

(77617, 39)
(77617, 41)

#### Add in date from DayNum

In [9]:
print(all_detailed_results.shape)
all_detailed_results = pd.merge(left=all_detailed_results, right=seasons[['Season', 'DayZero']], 
                                left_on='Season', right_on='Season', how='inner')

all_detailed_results['game_date'] = all_detailed_results.apply(lambda row: datetime.datetime.strptime(row['DayZero'],"%m/%d/%Y") + datetime.timedelta(days=row['DayNum']), axis=1)
all_detailed_results = all_detailed_results.drop('DayZero', 1)
print(all_detailed_results.shape)

(77617, 41)
(77617, 42)

## Create train data set

Train data set structure:  
* Result field is binary 0/1 representing if Team1 beats Team2
* Every game is represented by 2 different records

In [12]:
train = create_master_train(all_detailed_results)
print(train.shape)

(155234, 43)

#### Add rolling features

In [14]:
train = create_rolling_avg_feature(train, "t1_PPP", num_games=5)

#### Look at all train records

In [16]:
HTML(train[(train['Season']==2017) & (train['t1_TeamID']==1207)].sort_values('DayNum').head().to_html())

# Modeling

* Build models to predict 0/1 winner - logistic regression
* Build models to predict point spread - secondary model to convert pointspreads to percentages